.div1{
	
	margin: 0 auto;
	/*border:2px solid #faadc2;*/
	border-radius: 20px/50px;
	width:1500px;
    /*border-color: #093 #F90 #06F #C3F;*/
    height: 1600px;
}
.div2{
	width:800px;
	height: 1200px;
	/*background: #210012;*/
	font-size: 24px;
	margin: 15px;
	/*border-radius: 50px/20px;*/
	border:2px solid #feddf2 ;
	 border-color: #ffffff #454560 #ffffff #ffffff;
	color:black;
}
.div3{
	width: 500px;
	height: 390px;
	/*background: #210012;*/
	font-size: 24px;
	float: right;
	margin-right: 50px;
	border-radius: 50px/20px;
	border:2px solid #feddf2 ;
	position: relative;
	clear: both;
}
img{
	width:100px;
	height:100px;
	float: left;
	border-radius: 50%;
	margin: 15px;
	

}
.list{
	width: 500px;
	height: 100px;
	margin:0 auto;
	text-align: center;
	font-size: 50px;
}
#tittle{
	text-shadow: 2px;
	font-size: 32px;
	font-family:"华文隶书";
	color: #ffffff;
}
div{
	text-align: center;
}
/*body{
	background: url(1.png)   800px 900px no-repeat ,
	            url(back.jpg) center  no-repeat;

	
}*/
h1{
	text-shadow: -.01em 0.1em 0.2em #101010;
}
a{
	text-decoration: none;
	color:black;

}
a:hover{
	color:#12acdf;
	text-decoration: underline;
}
